# Note: Normally you would want to keep this private as anyone who can see your mnemonic has access to your wallet
# But this is only an example to demonstrate ViteJS functions
# For SBP rewards
MAINNET=https://node-tokyo.vite.net/http
TESTNET='https://buidl.vite.net/gvite:48132'