{
  "token": "PUT DISCORD TOKEN HERE",
  "prefix": "v!",
  "mainNode": "https://node.vite.net/gvite",
  "testNode": "https://buidl.vite.net/gvite:48132",
  "network": "MAINNET",
  "SBP": "PUT DEFAULT SBP HERE",
	"clientID": "PUT DISCORD CLIENT ID HERE",
  "permissions": "PUT DISCORD PERMISSIONS INTEGER HERE"

}